/**MOBIEL ALGEMEEN*/
/*-------------------------------------------NAVBAR-*/
.navbar{
  background: #212121;
  border-bottom: 2px solid #ad8b36;
}
.logo{
  width: 70px;
}
.navlijst > ul > li > a:hover{
  border-bottom: 2px solid #ad8b36;
  padding-bottom: 6px;
}
/*-------------------------------------------STANDARD TEXT-*/
h1,h2,h3,h4,h5,h6{
  font-family: 'Alegreya Sans SC', sans-serif;
}
h1{
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
}
h2{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}
h3{
  font-size: 18px;
  color: #ad8b36;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
p{
  font-size: 14px;
  color: black;
}
cite{
  font-size: 15px;
  align-items: center;
}
.rowborderbottom{
  border-bottom: 2px solid #ad8b36;
}
/*-------------------------------------------HOME-*/
.homeh2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 37px;
  margin-bottom: 2px;
  z-index: 999;
}
/*-------------------------------------------PRODUCTS-*/
.productsh1{
  font-size: 20px;
  color: #005e30;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 0;
}
.productsh2{
  position: absolute;
  top: 15%;
  width: 100%;
  font-size: 30px;
  color: white;
  z-index: 5;
}
.productsh3{
  font-size: 30px;
  color: #ad8b36;
  margin-bottom: 0;
}
.productsp{
  font-size: 12px;
}
.productskader{
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.productskader:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/*-------------------------------------------HORLOGE-*/
.backgrounddark{
  background: #212121;
}
.horlogeintro{
  align-items: center;
}
.horlogevideo{
  width: 100%;
  height: unset;
}
.embed-responsive video.videosmall {
  height: unset;
}
.horlogeh1{
  font-size: 30px;
  color: #ad8b36;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.horlogeh2{
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
.horlogeh3{
  font-size: 20px;
  color: #ad8b36;
}
.horlogeh4{
  font-size: 30px;
  color: #005e30;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.horlogeh5{
  font-size: 25px;
  color: #ad8b36;
  font-weight: bold;
  text-transform: uppercase;
}
.horlogep{
  font-size: 13px;
  color: white;
  margin: 0;
  text-align: center;
}
.horlogep2{
  font-size: 13px;
  color: black;
}
.horloges5 p{
  font-size: 14px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.horloges5 span{
  font-size: 12px;
  color: grey;
}
.horloges5 div{
  margin-bottom: 10px;
}

/*-------------------------------------------FOOTER-*/
.rolexfooter{
  background: #212121;
}
.footerblok{
  color: white;
}
.footerblok h6{
  font-size: 14px;
  color: #ad8b36;
  border-bottom: 1px solid #005e30;
}
.footerblok ul{
  padding: 0;
}
.footerblok ul li{
  font-size: 14px;
  list-style: none;
}
.footerblok ul li a{
  color: white;
  text-decoration: none;
}
.footerblok ul li a:hover{
  color: #005e30;
}
.footerlogo{
  width: 18px;
}
/*--------------------------------------------------------------------------------------------------------SMALL-*/
@include media-breakpoint-up(sm) {

}
/*--------------------------------------------------------------------------------------------------------MEDIUM-*/
@include media-breakpoint-up(md) {
  /*-------------------------------------------PRODUCTS-*/
  .productsh1{
    font-size: 30px;
  }
  .productsh3{
    font-size: 30px;
    color: #ad8b36;
  }
  .productsp{
    font-size: 15px;
  }
  .horlogep2{
    font-size: 14px;
  }
  /*-------------------------------------------HORLOGE-*/
  .horlogeh2{
    font-size: 18px;
  }
  .horlogeh3{
    font-size: 25px;
    color: #ad8b36;
  }
  .horlogep{
    font-size: 14px;
  }
}
/*--------------------------------------------------------------------------------------------------------LARGE-*/
@include media-breakpoint-up(lg) {
  /*-------------------------------------------HOME-*/
  h2{
    position: relative;
    transform: translate(0%,0%);
    margin-bottom: 8px;
    text-align: center;
    color: black;
    top: 0;
    left: 0;
  }
  /*-------------------------------------------PRODUCTS-*/
  .productsh1{
    font-size: 40px;
  }
  .productsh2{
    font-size: 38px;
  }
  .productsp{
    font-size: 16px;
  }
  /*-------------------------------------------HORLOGE-*/
  .horlogeh1{
    font-size: 40px;
  }
  .horlogeh2{
    font-size: 30px;
    width: 75%;
  }
  .horlogeh3{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .horlogep{
    font-size: 16px;
    width: 75%;
  }
  .horlogep2{
    font-size: 16px;
  }
  .horloges5 p {
  font-size: 16px;
  }
  .horloges5 span{
    font-size: 14px;
  }
    cite{
  font-size: 18px;
  }
  /*-------------------------------------------FOOTER-*/
  .rolexfooter{
    background: #212121;
  }
  .footerblok{
    color: white;
  }
  .footerblok h6{
    font-size: 14px;
    color: #ad8b36;
    border-bottom: 1px solid #005e30;
  }
  .footerblok ul{
    padding: 0;
  }
  .footerblok ul li{
    font-size: 14px;
    list-style: none;
  }
  .footerblok ul li a{
    color: white;
    text-decoration: none;
  }
  .footerblok ul li a:hover{
    color: #005e30;
  }
  .footerlogo{
    width: 18px;
  }
}
@include media-breakpoint-up(xl) {  }